body {
    font-size: 12px;
    margin: 0;
    padding: 0;
    background: url(pictures/monkey.jpg) no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-shadow:
    0.07em 0 black,
    0 0.07em black,
    -0.07em 0 black,
    0 -0.07em black;
    font-family: Lato, sans-serif;
    height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
}

.undergrad-body {
    background: url(pictures/cat.jpg) no-repeat center center fixed;
    background-size: cover;
}

.grad-body {
    background: url(pictures/dog.jpg) no-repeat center center fixed;
    background-size: cover;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    font-size: 20px;
    font-weight: 700;
    padding-right: 50px;
    background-color: #000000;
    box-shadow: 0 2px 5px 1px white;
    width: 100%;
}

header a,
header div,
header nav {
    color: white;
    text-decoration: none;
    margin: 0 3%;
    cursor: pointer;
}

.logo-container {
    margin-right: auto;
}
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200px;
    height: 100px;
    font-size: 10px;
}

.logo img {
    height: 63px;
    width: 63px;
    margin-right: 10px;
}

/* 
footer {
    position:absolute;
    bottom:0;
    width:100%;
    box-shadow: 0 -1px 5px 1px white;
    background-color: black;
    color:white;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
} */

.socials {
    position: relative;
    display: inline-block;
}

.socials-dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.socials-dropdown img {
    width: 50px;
    height: 50px;
}

.socials-dropdown a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.socials-dropdown a:hover {background-color: #f1f1f1}
.socials:hover .socials-dropdown {display: block;}

main h1 {
    font-size: 35px;
}

main p {
    font-size: 20px;
}

.intro {
    width: 50%;
    margin: auto;
    margin-top: 3%;
}

.programs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10% auto;
    width: 80%;
}

.boxes {
    width: 30%;
    padding-top: 6%;
    padding-bottom: 11%;
    padding-left: 2%;
    border: 3px solid rgba(0, 0, 0, 0.5);
    border-radius: 1px;
    font-size: 1.2rem;
    font-weight: 700;
    min-width: 150px;
    position: relative;
}

/* .boxes:hover,
.professors:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
} */


.box1 {
    /* border-top: 4px solid #4b7bbb; */
    background-color: rgba(0, 0, 0, 0.5);
}

.box1:hover {
    box-shadow: 0 0 5px 3px #899db8;
}

.box2 {
    /* border-top: 4px solid #cdda58; */
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
}

.box2:hover {
    box-shadow: 0 0 5px 3px #d2d8a1;
    cursor: pointer;
}

.box3 {
    /* border-top: 4px solid #f06e4d; */
    background-color: rgba(0, 0, 0, 0.5);
}

.box3:hover {
    box-shadow: 0 0 5px 3px #f19b86;
}

.box1 img,
.box3 img {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 10%;
    right: 10%;
}

.box1 img:hover,
.box3 img:hover {
    transform: scale(1.3);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.box2 .box2popup,
.professors .profpopup,
.news-number .news-popup {
    display: none;
    background-color: #333;
    color: #fff;
    padding: 1% 10%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 30%;
    min-width: 150px;
    box-shadow: 0 0 10px 1px #000000;
}

.news-number .news-popup {
    width: 50%;
}

.box2popup h2,
.profpopup h2,
.news-popup h1 {
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 2px solid #fff;
}

.box2popup p,
.box2popup li {
    font-size: 0.7em;
    font-weight: 400;
}

.profpopup p,
.news-popup p {
    font-size: 1rem;
    font-weight: 300;
}

.box2 .show,
.professors .show,
.news-number .show {
    display: block;
    animation: fadeIn 1s;
}

.slides,
.undergrad-slide {
    display: none;
    animation-name: fade;
    animation-duration: 1.5s;
}

.prof {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 8% auto;
    width: 90%;
}

.prof img {
    width: 200px;
    height: 200px;
    border: 3px solid rgba(0, 0, 0, 1);
    border-radius: 50%;
}

.prof h2 {
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
}

.professors {
    border: 2px solid rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1%;
    border-radius: 5px;
}
.professors:hover {
    cursor: pointer;
}

.news-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 80%;
}

.news-number {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    /* box-shadow: inset 0 0 3px 1px #000000; */
    margin-bottom: 1%;
    width: 70%;
    border-radius: 3px;
    padding: 0 20px;
}

.news-number:hover {
    /* transform: translateX(-5%);
    transition: all 0.5s ease-in-out; */
    cursor: pointer;
}


.num {
    /* font-size: 2em; */
    font-weight: bold;
    margin-right: 10px;
    background-color: #6ac3d3;
    color: #ffffff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    min-width: 50px;
}

.news-popup h2 {
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 2px solid #fff;
}

label {
    font-size: 1.5em;
    font-weight: bold;
}

input[type=text], select, textarea,
input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 1% 0;
}

input[type=submit] {
    background-color: white;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 3%;
}

input[type=submit]:hover {

    background-color: black;
    color: white;
}

.contact-form {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 50%;
    margin: auto;
}

.undergrad-main,
.grad-main {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    width: 100%;
    margin-top: 5%;
    min-width: 1000px;
}

.undergrad-main section,
.undergrad-main article,
.grad-main section,
.grad-main article {
    border-radius: 5px;
    max-height: 700px;
    max-width: 300px;
    padding: 0 10px;
}

.undergrad-main section,
.grad-main section {
    border: 5px solid rgba(0, 0, 0, 1);
    background-color: rgba(87, 87, 87, 0.5);
}

.undergrad-main section h1,
.undergrad-main article h1,
.grad-main section h1,
.grad-main article h1 {
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 3px solid rgb(0, 0, 0);
}

.undergrad-main article h2,
.undergrad-main article h3,
.grad-main article h2,
.grad-main article h3 {
    font-size: 1.1rem;
}

.undergrad-main section p,
.undergrad-main article p,
.grad-main section p,
.grad-main article p {
    font-size: 1.4em;
}

.undergrad-main article li,
.grad-main article li {
    font-size: 1.1em;
    margin-bottom: 0.8em;
}